table{
    border: 5px double blue;
    margin: auto;
    border-collapse: collapse;

}

th {
    color: blue;
    text-align: center;
    background-color: yellow;


}

td {
    color: green;
    text-align: right;

}

th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }